<div class="row">
    <div class="col-sm-12">

        <div class="row mb-3 mt-5">
            <div class="col-lg-6">
                <div class="input-group">

                    <input type="text" class="form-control" aria-label="Text input with checkbox" ng-model="txtSearch">
                    <span class="input-group-addon" ng-click="searchText=txtSearch">
                        <i class="fa fa-search"></i>
                    </span>
                    <a class="input-group-addon" href="#!edit"><i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <nav class="nav nav-tabs" id="myTab" role="tablist">
            <a class="nav-item nav-link" ng-class="{'active':activeClass=='all'}" id="nav-home-tab" ng-click="searchState='';activeClass='all'">All</a>
            <a class="nav-item nav-link" ng-class="{'active':activeClass=='incomplete'}" id="nav-incomplete-tab"  ng-click="searchState='incomplete';activeClass='incomplete'">Incomplete</a>
            <a class="nav-item nav-link" ng-class="{'active':activeClass=='checked'}" id="nav-checked-tab"  ng-click="searchState='checked';activeClass='checked'">Checked</a>
            <a class="nav-item nav-link" ng-class="{'active':activeClass=='canceled'}" id="nav-canceled-tab" ng-click="searchState='canceled';activeClass='canceled'">Canceled</a>
            <a class="nav-item nav-link" ng-class="{'active':activeClass=='delayed'}" id="nav-delayed-tab" ng-click="searchState='delayed';activeClass='delayed'">Delayed</a>
        </nav>
        <div class="tab-content pt-3" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row flex-row flex-nowrap">
                    <div class="col-sm-3 mr-5" ng-repeat="item in notes  | filter:{state:searchState ,text:searchText}" ng-click="gotoEdit(item._id)">
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <p class="card-text" ng-bind="item.text"></p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>